
.wrap_menu{
	position:fixed;
	width:100%;
	display:block;
	top:0;
    left: 0;
    right: 0;
    z-index: 11;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    background: #0E1D31;
}
.wrap_menu.sticky{
    position: fixed;
    top: 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    transition: 0.5s;
}
.wrap_menu .logo img{
    transition: 0.5s;
}
.wrap_menu.hide{
    transform: translate(0, -100%);
}
.wrap_btn_menu{
    display: none;
    text-align: center;
    height: 30px;
    width: auto;
    position: relative;
    color: #fff;
}
.wrap_btn_menu i{
    font-size: 2rem;
}
.mainmenu{
	list-style:none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background-color: #F0F0F0;
    height: 50px;
    transition: 0.5s;
}
.mainmenu ul{
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: flex-end;
}
.mainmenu ul li{
	display:inline-block;
    color:#000;
    cursor: pointer;
    list-style: none;
    position: relative;
}
.mainmenu ul li:hover{
    color: #C60D0D;
    cursor: pointer;
}
.mainmenu ul li > a{
	display:block;
    font-size: 1rem;
	color:#000;
	position:relative;
	text-decoration:none;
    transition: 0.5s;
    line-height: 1;
    padding-right: 40px;
}
.mainmenu ul li > a i{
    display: none;
}
.mainmenu ul li > a:hover{
    text-decoration: none;
    color: #C60D0D;
}
.mainmenu ul li:last-child > a{
    padding-right: 0;
    display: none;
}
/* .wrap_menu.sticky .mainmenu ul > li > a.here{
    color: #C60D0D;
} */
.mainmenu ul li.logo_menuopen{
	display: none;
}
.submenu{
    display: none;
}
.mainmenu ul li .submenu{
	position:absolute;
	background: rgba(255,255,255,0.95) ;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
	top:100%;
    left: 0;
	z-index:999999;
	margin:12px 0 0;
    min-width: 200px;
	width:100%;
    text-align: left;
    display: none;
    white-space: nowrap;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}
.mainmenu ul li .submenu::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 15px;
    transform: rotate(180deg);
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #fff;
}
.mainmenu ul li > .submenu li{
    padding: 10px 15px;
    line-height: 1;
    display: block;
    width: 100%;
}
.mainmenu ul li > .submenu li:hover{
    background-color: #eee;
}
.mainmenu ul li > .submenu li a{
    font-size: 0.9rem;
    color: #000;
    line-height: 1.6;
}
.logo-mb{
    display: none;
}



/*responsive*/
@media (max-width: 1600px){
    
}
@media (max-width: 1440px){
    
}

@media (max-width: 991px) {
     .mainmenu{
        display: block;
        position: fixed;
        z-index: 9999;
        background:rgba(0,0,0,0.9);
        top: 0px;
        height: 100vh;
        left: -115%;
         width: 80%;
         transform: translate(0,0);
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
    .mainmenu.open{
        left: 0;
        overflow: auto;
        background-color: #111;
		padding: 30px 15px;
    }
    .mainmenu ul{
        display: block;
        margin-bottom: 50px;
        width: 100%;
    }
     .mainmenu > li{
        display: block;
        position: relative;
        color: #002F79;
    }
    .wrap_btn_menu{
        height: 32px;
		width: auto;
		padding: 0;
         display: inline-block;
        text-align: center;
        line-height: 32px;
        font-size: 0.65rem;
        float: right;
        letter-spacing: 1px;
        padding: 0 10px;
    }
     body.menuopened{
        overflow: hidden;
    }
     .close_menu{
        position: absolute;
        right: 20px;
        top: 20px;
        color: #fff;
    }
	.close_menu i{
		font-size: 1.3rem;
		vertical-align: top;
	}
    .mainmenu ul li.logo_menuopen{
        display: block;
        line-height: 1px;
        text-align: left;
        height: auto;
        border-bottom: 0;
        margin-bottom: 40px;
    }
   
    .mainmenu ul li{
        display: block;
        margin: 0;
        font-size: 1.1rem;
        padding: 0;
        color: #fff;
        text-align: left;
        margin-bottom: 50px;
    }
    .mainmenu ul li:last-child{
        border-bottom: 0;
    } 
    
    .mainmenu > ul > li > a.here{
        color: #1C8B2F;
    }
    .mainmenu ul li a{
        color: #fff;
    font-size: 1rem;
    }
    .mainmenu ul li:hover{
        color: #fff;
    }
    
    .mainmenu{
        padding: 0;
    }
   
    .mainmenu ul li > a{
        font-size: 1.1rem;
        padding: 0;
        text-shadow: none;
        line-height: 1;
        color: #fff;
    }
    .wrap_menu .container{
        max-width: 100%;
    }
    .mainmenu ul li .submenu{
        background-color: #181818;
        position: relative;
        border-radius: 0;
        padding: 5px 15px;
    }
    .mainmenu ul li .submenu::before{
        display: none;
    }
    .mainmenu ul li > .submenu li {
        border-bottom: 1px solid rgba(255,255,255,0.2);
        margin-bottom: 0;
        padding: 15px;
    }
    .mainmenu ul li > .submenu li:hover{
        background-color: #181818;
    }
    .mainmenu ul li > .submenu li:last-child{
        border-bottom: 0;
    }
    .mainmenu ul li > .submenu li a{
        color: #ccc;
    }
    .wrap_menu.sticky .mainmenu{
        height: 100vh;
    }
    .wrap_menu{
        padding: 15px 20px;
    }
    .wrap_btn_menu i{
        font-size: 2rem;
    }
    .m-mobile{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate(0, -50%);
    }
    .overlay{
        background: rgba(0,0,0,0.9);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 12;
        height: 100vh;
    }
    .mainmenu ul li > a i{
        display: inline-block;
        padding-right: 5px;
        color: #ccc;
    }
    .logo-mb{
        display: block;
    }
    .logo-mb a{
        display: block;
        width: 200px;
    }
    .logo-mb a .svg{
        width: 100%;
    }
    .mainmenu ul li:last-child > a{
        display: block;
    }
}


@media (max-width: 767px){
    .wrap_menu{
        padding: 15px 5px;
    }
    .close_menu{
        right: 0;
        top: 0;
    }
    .wrap_btn_menu i{
        font-size: 1.7rem;
    }
    .mainmenu ul li > .submenu ul li{
        width: 100%;
    }
    .wrap_btn_menu{
        padding: 0;
    }
}

